@{
    ViewBag.Title = "No Autorizado";
}

<style type="text/css">
    .title {
        color: #800000;
    }
</style>

<h2 class="title">No Autorizado</h2>
<p>Usted no está autorizado para acceder a esta página.</p>
<p>Póngase en contacto con el administrador del dominio si cree que debería poder acceder.</p>
